

<div>
   
    <input type="text" class="input1" [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search by Name" />
  </div>
<!-- max widt 400 px section -->
  <div class="sectionsearch400">
    <div class="selectdiv">  
      <select name="model" id="model" [(ngModel)]="selectedOption">
        <option value="selectmodel"  >empty</option>
        <option value="Dell" >dell</option>
        <option value="Lenovo">lenovo</option>
        <option value="asus">asus</option>
        <option value="Iphone 14">iphone 14</option>
        <option value="Samsung">samsung</option>
      </select> 
    </div>
    
      <div><input type="text" placeholder="min-price" class="vonbis"  [(ngModel)]="minPrice" (keyup)="filterItems()"></div>
      <div><input type="text" placeholder="max-price"  class="vonbis" [(ngModel)]="maxPrice" (keyup)="filterItems()"></div>
    
  </div>
<!-- seqctiebi iwyeba aqedan  -->

<div class="section1">

  <div class="searcwrapper">
    <div>
     
      <select name="model" id="model" [(ngModel)]="selectedOption">
        <option value="selectmodel"  >empty</option>
        <option value="Dell" >dell</option>
        <option value="Lenovo">lenovo</option>
        <option value="asus">asus</option>
        <option value="Iphone 14">iphone 14</option>
        <option value="Samsung">samsung</option>
      </select>

     
      
    </div>
      <div class="inputdiv">
        <input type="text" placeholder="min-price" class="vonbis"  [(ngModel)]="minPrice" (keyup)="filterItems()">
        <input type="text" placeholder="max-price"  class="vonbis" [(ngModel)]="maxPrice" (keyup)="filterItems()">
      </div>
      <div class="inputdiv">
        <input type="text" placeholder="unknown" class="vonbis">
        <input type="text" placeholder="unknown"  class="vonbis">
      </div>
      <div class="inputdiv">
        <input type="text" placeholder="unknown" class="vonbis">
        <input type="text" placeholder="unknown"  class="vonbis">
      </div>
    
  </div>

 <!-- centraluri yuti  defaultad rac chans -->

  <div class="datawrapper"  [class.none]="minPrice >0 ||selectedOption && selectedOption!='selectmodel'">
    <div id="wrapper" *ngIf="!filteredItems" >

        <div class="myCard" *ngFor="let item of items" id="item" >
          <div class="innerCard" id="divkont" [class.none]="minPrice >0">
            
                <div class="frontSide"[class.none]="minPrice >0">
                  <img [src]="item.src" alt="err" class="foto1"[class.none]="minPrice >0" />
                    <p [class.none]="minPrice >0" >Hover Me</p>
                </div>
                <div class="backSide"[class.none]="minPrice >0">
                        <li id="itemname">Name - {{ item.title }}</li>
                        <li>{{ item.price }} $</li>
                        <li>{{ item.ebaut }}</li>
                      
                        
                </div>
              </div>
          
        </div>
    </div>

    
    <div id="wrapper"  *ngIf="filteredItems"  [class.none]="minPrice >0" >

      <div class="myCard" *ngFor="let item of filteredItems" id="item"  >
        <div class="innerCard" id="divkont">
          
              <div class="frontSide" [class.none]="minPrice >0">
                <img [src]="item.src" alt="err" class="foto1"  [class.none]="minPrice >0"/>
                  <p [class.none]="minPrice >0">Hover Me</p>
              </div>
              <div class="backSide"[class.none]="minPrice >0">
                      <li id="itemname"> Name - {{ item.title }}</li>
                      <li>{{ item.price }} $</li>
                      <li>{{ item.ebaut }}</li>
                      
              </div>
            
        </div>
        
        </div> 
  </div>
</div>
  <!-- zeda dviebs  gavuwere clas none yvelas shesabmisd qrebian  -->

   <!-- sweatceisi   gagrZelba opttion zemot weria saidanc momaq value -->
      <div [ngSwitch]="selectedOption" >
        <div *ngSwitchCase="'Dell'"  [class.none]="minPrice >0" > </div>
        <div *ngSwitchCase="'Lenovo'" [class.none]="minPrice >0"> </div>
        <div *ngSwitchCase="'Iphone 14'" [class.none]="minPrice >0"></div>
        <div *ngSwitchCase="'Samsung'" [class.none]="minPrice >0"> </div>
        <div *ngSwitchCase="'asus'" [class.none]="minPrice >0 " ><p style="margin-left: 150px; font-size: 30px;">well be add soon !</p> </div>
       
          

          <div  *ngFor="let swcase of items" >
            <div   *ngIf="swcase.title==selectedOption "  class="myCard" [class.none]="minPrice >0"> 
              <!-- თუ იტემბის სახელი უდრის ცვლადს , სადაც სახლეი გადეცემა სელქტ არჩევაზე მაშინ გამოაჩენს ამ დივს -->
                <div class="innerCard" id="divkont" [class.none]="minPrice >0">
                    <!-- //minPrice >0 tu price ველი შეიყვნა მომხრებლმა ამ ფილტრს გააქრობს -->
                  <div class="frontSide">
                    <img [src]="swcase.src" alt="err" class="foto1"/>
                    <p [class.none]="minPrice >0" >Hover Me</p>
                  </div>
                  <div class="backSide">
                      <li id="itemname">Name - {{ swcase.title }}</li>
                      <li>{{ swcase.price }} $</li>
                      <li>{{ swcase.ebaut }}</li>
                  </div>

                </div>
             </div>
            
          </div>
      
      </div>

          <!-- zebna by pricce   -->


  
 
    <div *ngIf="minPrice > 0 " id="wrapper">

       <div class="wranning"  [class.none]="maxPrice >0">Enter the max-price</div>
       

      <div class="myCard" *ngFor="let item of filteredItemsbyprice" id="item" >
        <div class="innerCard" id="divkont">
          
              <div class="frontSide">
                <img [src]="item.src" alt="err" class="foto1" />
                  <p>Hover Me</p>
              </div>
              <div class="backSide">
                      <li id="itemname"> Name - {{ item.title }}</li>
                      <li>{{ item.price }} $</li>
                      <li>{{ item.ebaut }}</li>
                      
              </div>
        </div>
    </div>
    

    <!-- //zebna by select  option-->

   



