

  #wrapper{
    width: 90%;
   
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 50px;
    flex-wrap: wrap;
  }
  #divkont{
    margin-left: 20px;
    width: 90%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
  }
  
  #item {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
   margin-top: 20px;
  }


  .foto1{
   
    width: 90%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .input {
    max-width: 300px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
  }
  
 
  
  li {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    

  }
  

  /* meroe appi                      */

  .myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide{
    position: relative;
   
   

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;

  }
  .backSide {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: relative;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;

  }
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position:relative;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  /* div togle                             information                       */

  .divtoglleinformation{
    position: absolute;
    
    width: 140%;
    height: 320px;
    background-color: #0093E9;
    display: block;
    
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: #0093E9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 22px;
    transform: translate(-50%, -50%);
    Z-index: 99 !important;
    
    
  }
  /* togle buttonas        */
.toglebt1{
  background-color: #55d0e6; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;

box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.toglebt1:hover{
  background-color: #55ec8c;
  transform: scale(1.05);

}
 

  .toglebattonshida{
    margin-top: 10px;
    background-color: #55d0e6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .toglebattonshida:hover{
    background-color: #55ec8c;
transform: scale(1.05);
  }


/* mobile freundlich         --respnse */
@media only screen and (min-width: 1200px) {
  .divtoglleinformation{
      
    width: 380px;
    height: 340px;
  
    top: 33%;
    left: 25%; 
    
  }

}
  @media only screen and (max-width: 1100px) {
  .divtoglleinformation{
      
    width: 150%;
    height: 340px;
  
    top: 30%;
    left: 25%; 
    
  }
}


  @media only screen and (max-width: 700px) {
    #wrapper{
      background-color:#ccc;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    #divkont{
      max-width: 200px;
    }
    #item{
      max-width: 200px;
      width: 100%;
      margin-bottom: 30px;
    }
  
    .searcwrapper{
      max-width: 120px;
      flex-direction: column;
      
    }
    #model{
      width: 90px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .inputdiv{
      width: 90px;
      flex-direction: column;
  
    }
  
    #itemname{
      font-size: 12px;
      border: none;
    }
    .divtoglleinformation{
      height: auto;
    }
    .divtoglleinformation{
      
      width: 125%;
      height: 330px;
    
      top: 40%;
      left: 45%; 
      
    }
  
  
    
  }
  
  
  @media only screen and (max-width: 400px) {
    #wrapper{
      background-color: #ccc;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #divkont{
      max-width: 130px;
    }
    #item{
      max-width: 130px;
      width: 100%;
    }
  
    .searcwrapper{
      max-width: 100px;
      flex-direction: column;
      
    }
    #model{
      width: 80px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .inputdiv{
      width: 80px;
      flex-direction: column;
  
    }
    .divtoglleinformation{
      
      width: 160%;
      height: 340px;
    
      top: 40%;
      left: 45%; 
      
    }
    
    #infoback{
      display: none;
    }
  
    
  }